.adminbar {text-align: right; background: inherit; clear: both; float: right;}
.commentpostername {background: inherit; font-size: 12px; font-family: serif; color: #174; font-weight: 800;}
.delbuttons {background: inherit; text-align: center; padding-bottom: 4px;}
.dellist {background: inherit; text-align: center;}
.doubledash {vertical-align: top; clear: both; float: left;}
.filesize {font-size: 12px; font-family: sans-serif; text-decoration: underline; padding-left: 3em;}
.filetitle {background: inherit; font-size: 18px; font-family: serif; color: #0f0c5d; font-weight: 800;}
.footer {font-size: 10px; font-family: sans-serif;}
.logo {clear: both; text-align: center; background: inherit; font-size: 24pt; color: #af0a0f; width: 100%;}
.managehead {background: #0f8fe1; color: #000; font-family: sans-serif; font-size: 14px; padding: 0px;}
.oldpost {background: inherit; font-size: 18px; font-family: serif; color: #0f0c5d; font-weight: 800;}
.omittedposts {background: inherit; font-size: 18px; font-family: serif; color: #070707; font-weight: 800;}
.passvalid {background: #98e; text-align: center; width: 100%; color: #fff;}
.postarea {background: inherit;}
.postblock {background: #98e; color: #000; font-weight: 800;}
.postername {background: inherit; font-size: 12px; font-family: serif; color: #174; font-weight: 800;}
.postlists {background: #fff; width: 100%; padding: 0px; color: #000;}
.reply {background: #d6daf0; color: #000; font-family: serif;}
.reply:target {background: #cdf;}
.replytitle {background: inherit; font-size: 18px; font-family: serif; color: #0f0c5d; font-weight: 800;}
.row1 {font-family: sans-serif; font-size: 12px; color: #000; background: #9ad2f6;}
.row2 {font-family: sans-serif; font-size: 12px; color: #000; background: #fff;}
.rules {font-size: 10px; font-family: sans-serif;}
.spoiler, .spoiler a {background: #c4c2ee; color: #c4c2ee;}
.spoiler:hover {color: #000;}
.theader a {color: #bee;}
.theader {background: #0010e0; color: #fff; width: 100%;}
.thumbnailmsg {background: inherit; font-family: sans-serif; font-size: 9px; color: #000;}
.unkfunc {background: #c4c2ee; color: #fff;}
a, a:visited, .spoiler:hover a {background: inherit; font-family: sans-serif; color: #34345c; text-decoration: none;}
a:hover, .spoiler:hover a:hover {background: inherit; font-family: sans-serif; color: #d00; text-decoration: underline;}
html, body {font-size: 12pt; background: #eff; color: #000;}