* {font-family: monospace; font-size: 10pt;}
.adminbar {text-align: right;}
.commentpostername {background: inherit; color: #0c0; font-weight: bold;}
.doubledash {vertical-align: top; clear: both; float: left;}
.filesize {text-decoration: none; color: #040;}
.filetitle {background: inherit; color: #090; font-weight: bold; text-decoration: underline;}
.logo {text-align: center; background: inherit; color: #0f0; width: 100%; font-family: monospace; font-weight: bold;}
.oldpost {background: inherit; color: #0c0; font-weight: 800;}
.omittedposts {background: inherit; color: #090;}
.postarea {background: inherit;}
.postblock {background: #000; border: 1px solid #0a0; color: #0a0; font-weight: bold; padding: 2px 5px 2px 5px;}
.postername {background: inherit; color: #0c0; font-weight: bold;}
.postertrip {background: inherit; color: #0c0;}
.reply {background: #000; color: #0a0; border: 1px solid #030;}
.replyhl {background: #000; color: #0c0;}
.replytitle {background: inherit; color: #0c0; font-weight: 800;}
.spoiler, .spoiler a {background: #040; color: #040;}
.spoiler:hover {color: #fff;}
.thumbnailmsg {text-decoration: none; color: #020;}
.unkfunc {background: inherit; color: #060;}
a, .spoiler:hover a {background: inherit; color: #0f0;}
a.quotejs {color: #000; text-decoration: none;}
a.quotejs:hover {font-weight: bold;}
a.quotelink {background: inherit; color: #0f0;}
a:visited {background: inherit; color: #0c0;}
a:hover, .spoiler:hover a:hover {color: #fff; background: inherit;}
code {color: yellow; background-color: rgba(100, 140, 60, 0.2);}
hr {border: none; color: #090; background-color: #090; height: 1px;}
html, body {font-size: 10pt; background: #000; color: #0a0;}
input, textarea {background-color: #000; border: 1px solid #090; color: #0c0;}