* {font-family: "trebuchet ms", tahoma, verdana, arial, sans-serif; font-size: 10pt;}
.adminbar {text-align: center;}
.commentpostername {background: inherit; font-size: 11pt; color: #174; font-weight: bold;}
.doubledash {vertical-align: top; clear: both; float: left;}
.filesize {text-decoration: none;}
.filetitle {background: inherit; color: #0f0c5d; font-weight: 800;}
.footer {font-size: 12px;}
.logo {clear: both; text-align: center; background: inherit; font-size: 24pt; color: #af0a0f; width: 100%;}
.oldpost {background: inherit; color: #0f0c5d; font-weight: 800;}
.omittedposts {background: inherit; color: #070707;}
.postarea {background: inherit;}
.postblock {background: #d9af9e; border: 1px solid #ca927b; color: black; font-weight: bold; padding: 2px 5px 2px 5px;}
.postername {background: inherit; font-size: 11pt; color: #174; font-weight: bold;}
.postertrip {background: inherit; color: #285;}
.reply {background: #d9af9e; color: #000; border: 1px solid #ca927b;}
.reply:target, .replyhl {background: #d6bad0; color: #000; border-style: dashed;}
.replytitle {background: inherit; font-size: 18px; color: #0f0c5d; font-weight: 800;}
.spoiler, .spoiler a {background: #e6cbc0; color: #e6cbc0;}
.spoiler:hover {color: #000;}
.unkfunc {background: inherit; color: #792;}
a, .spoiler:hover a {background: inherit; color: #34345c;}
a.quotejs {color: #000; text-decoration: none;}
a.quotejs:hover {font-weight: bold;}
a.quotelink {background: inherit; color: #d00;}
a:visited {background: inherit; color: #34345c;}
a:hover, .spoiler:hover a:hover {color: #d00; background: inherit;}
html, body {font-size: 10pt; background: #eddad2; color: #000;}
input, textarea {background-color: #e6cbc0; border: 1px solid #ca927b;}