#delform .abbrev {margin: 1em 1em 0 0;}
#delform .reply > blockquote {margin-left: 0;}
#delform .reply blockquote blockquote, .reply p {margin: 1em 0.5em 0 1em;}
#delform > blockquote, #delform > blockquote blockquote, #delform > blockquote p {margin: 1em 0 1em 0;}
.cap {color: #a8a;}
.cap::after {content: "★"; font-family: monospace;}
.de-parea .postform-close {display: none;}
.footer {text-align: center;}
.nothumb {float: left; background: #eee; border: 2px dashed #aaa; text-align: center; margin: 2px 1em; padding: 1em 0.5em 1em 0.5em;}
.pagetop .adminbar, .thread-state {float: right;}
.pagetop .logo {clear: none; text-align: left;}
.pagetop {line-height: 40px;}
.postarea table {margin: 0 auto; text-align: left;}
.postarea {text-align: center;}
.postform-close {float: right;}
.reflink {white-space: nowrap; margin-right: 1ex;}
.reflink a {color: inherit; text-decoration: none;}
.reply .filesize {margin-left: 1em;}
.replypage .replylink, span.replylink {display: none;}
.thumb {border: none; float: left; margin: 2px 1em;}
.userdelete {float: right; text-align: center; white-space: nowrap;}
body {margin: 0; padding: 12px; margin-bottom: auto;}
code {white-space: pre; background-color: rgba(100, 40, 60, 0.1);}
form {margin-bottom: 0;}
ol, ul {list-style-position: inside; padding-left: 1em;}